* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 1rem;
    min-height: 0;
    padding: 0.1rem 0.25rem;
}

window#waybar {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.21) 78%, rgba(0, 0, 0, 0) 100%);
    color: white;
}

button {
    box-shadow: inset 0 0 transparent;
    color: transparent;
    border: none;
    border-radius: 0rem;
}


#workspaces {
    background: transparent;
    padding: 0.1rem 0.65rem;
    margin: 0.1rem 0rem;
}

#workspaces button {
    margin: 0 0.2rem;
    padding: 0 0.25rem;
    border-radius: 0.3rem;
    color: rgba(200, 200, 200, 1);
    border: 0.09rem solid rgba(100, 100, 100, 1);
    transition-duration: .1s;
}

@keyframes blink-orange {
    to {
        background: rgba(255, 156, 45, 1);
    }
}

#workspaces button.empty {
    color: rgba(200, 200, 200, 1);
    border: 0.1rem solid transparent;
}

#workspaces button:hover {
    color: rgba(162, 135, 255, 1);
    background: transparent;
    text-shadow: none;
}

#workspaces button.visible {
    color: black;
    background: rgba(126, 88, 255, 0.5);
    font-weight: bold;
    border: 0.1rem solid rgba(126, 88, 255, 1);
}

#workspaces button.active {
    color: black;
    background: rgba(126, 88, 255, 1);
    font-weight: bold;
    border: 0.1rem solid rgba(126, 88, 255, 1);
}

#workspaces button:hover {
    border: 0.1rem solid rgba(162, 135, 255, 1);
}

#workspaces button.urgent {
    animation-name: blink-orange;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
    animation-direction: alternate;
}


#clock,
#battery,
#network,
#pulseaudio,
#tray {
    margin: 2px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    color: rgba(80, 250, 123, 1);
}

#battery.discharging {
    color: white;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    color: red;
}


/*
#clock {}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#battery.warning:not(.charging), 
#battery.critical:not(.charging),
#battery.critical {
    color: #ff8888;
}


#battery.charging,
#battery.plugged {
    color: #26a65b;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#battery.warning:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

 */
